.image1{
    height: 400px;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    top: 10;
    left: 300;
    width: 80%;
    padding: 2rem;
    text-align: absolute;
}
.image2{
    height: 400px;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    top: 10;
    left: 300;
    width: 80%;
    padding: 2rem;
    text-align: absolute;
}
.image3{
    height: 400px;
    border-radius: 0px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    top: 10;
    left: 300;
    width: 80%;
    padding: 2rem;
    object-position: center;
    text-align: absolute;
}
